body {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgrey;
  font-color 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

button {
  cursor: pointer;
  background-color: rgb(214, 196, 36);
}

table {
  margin: auto;
}

th,
td {
  padding: 6px;
  text-align: center;
}

/* Depois dos dois pontos é a pseudoclasse */
/* tbody tr pra organizar só os tr que estão dentro do tbody */
tbody tr:nth-child(1n) {
  background-color: #ddd;
}

tbody tr:hover {
  font-weight: bold;
  cursor: default;
}
.title {
  color: darkred;
}