body {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(1, 7, 45);
}

.title {
  color: rgb(223, 167, 11);
}

p {
  color: aliceblue;
}

label {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
  width: 100px;
  height: 15px;
}

#paragraph-result {
  margin-top: 50px;
}

button {
  cursor: pointer;
  background-color: rgb(223, 167, 11);
  border-color: aliceblue;
}
